# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.cpp~
moc_*.cpp
*.h~
game_tamnguye1.pro
game_tamnguye1
.gitignore~
Makefile
GameDesignDocExample.md
GameDesignDoc.md~

